html,
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 90, 90, 0.363);
}

.form-body {
    background-color: white;
    border-radius: 1rem;
    padding: 3rem 3rem;
}

form {
    padding: 1rem 2rem;
}

input[type='text'] {
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.25rem black;
    outline: none;
    padding: 1rem;
    font-size: 1.3rem;
}

input[type='text']:focus {
    box-shadow: 0 0 0.5rem rgb(0, 37, 158);
}

label {
    font-weight: bold;
    padding: 0 0 0.5rem 0.5rem;
}

.row {
    display: flex;
    flex: 1;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem gray;
}

p {
    text-align: center;
    padding: 0 1rem;
}

.row > button:nth-child(5) {
    margin: 0 1rem;
}

.row > p:nth-child(1),
.row > p:nth-child(2),
.row > p:nth-child(3) {
    border-right: 1px solid black;
}
